.hero {
	position: relative;
	height: auto;
	z-index: 1;
	&__img {
		width: 750px;
		height: 500px;
		
	}
	&__arrow {
			display: inline-block;
			font-size: 49px;
			color: #fff;
		
	}
	
	&__navigation{
		position: absolute;
		top: 75px;
		left: 17px;
		display: flex;
		flex-direction: row;
		
		
		&:hover .hero__navigation__back{
			margin-left: -3px;
			
		}
		&__back {
			font-size: 33px;
			color: rgb(255,255,255);
			margin-top: 6px;
			margin-left: 5px;
			transition: all .6s ease-out;
			}
		
	}
}
