.hero {
	position: relative;
	height: auto;
	z-index: 1;
	&__img {
		width: 750px;
		height: 500px;
	}
	&__arrow {
		display: inline-block;
			font-size: 49px;
			
			color: #fff;
	}
	&__navigation{
		position: absolute;
		top: 80px;
		left: 20px;
		display: flex;
		flex-direction: row;
		&__back {
			font-size: 33px;
			color: rgb(255,255,255);
			margin-top: 5px;
			margin-left: 3px;
			}
	}
}

