.panel {
	position: absolute;
	width: 750px;
	height: 900px;
	border-radius: 35px;
	box-shadow: 0px -10px 60px rgba(1,1,2,0.2);
	background-color: #ffffff;
	margin-top: -58px;
	z-index: 2;
	
	&__container{
		padding: 50px;
	}
	
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__title {
		font-size: 89px;
		color: rgb(23,5,198);
		font-weight: 800;
		margin-top: -15px;
		margin-bottom: 1px;
		padding: 0;
		}
	&__more{
		display: flex;
		flex-direction: row;
		padding: 5px 15px 5px 5px;
		cursor: pointer;
		&:hover .panel__more__circle{
			
			margin-right: 3px;
			opacity: .5;
		}
		&__circle {
			margin-left: 3px;
			margin-bottom: 0px;
			
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $main;
			transition: all .4s ease-out;
			
		}
	}
	
	&__follow {
		position: relative;
		width: 37px;
		height: 37px;
		border: 4px solid $main;
		border-radius: 50%;
		color: $main;
		margin-top: 10px;
		.fas.fa-plus, .fas.fa-minus{
			@extend %fa-icon;
			
			&:hover {
				transform: translate(-50%,-50%);
			}
		}
		.fas.fa-minus{color: $alert;}
		
		&__text {
			font-size: 26px;
			color: $main;
			font-weight: 800;
			display: inline-block;
			margin-left: 40px;
			cursor: pointer;
			
			&--unfollow {
				color: $alert;
			}
		}
	}
	
	
}
