.panel-list {
	font-size: 29px;
	color: $main;
	font-weight: 800;
	
	&__items {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $main;
			border-bottom: 2px solid $main;
			padding-bottom: 40px;
			padding-top: 40px;
			cursor: pointer;
			&:hover .panel-list__items__item__name{
				letter-spacing: 1px;
				opacity: .7;
			}
			
			&__name {
				font-size: 55px;
				margin: 0;
				transition: .5s all ease-out;
			}
			&__arrow {
				font-size: 49px;
				
			}
		}
	}
	
}